<%- include('header'); -%>
<div class="container">
  <h2>Xin điền thông tin</h2>
  <form >
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Nhập email" name="email">
    </div>
    <div class="form-group">
      <label for="pwd">Mật khẩu:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Nhập mật khẩu" name="pswd">
    </div>
    <div class="form-group">
      <label for="email">Sinh nhật:</label>
      <input type="email" class="form-control" id="birth" placeholder="Nhập ngày sinh" name="email">
    </div>
    <div class="form-group form-check">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="remember">Bạn là nam?
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Cập nhật</button>
  </form>
</div>
<%- include('footer'); -%>