<%- include('header'); -%>
<h3 class="page-title">THỐNG KÊ</h3>
<div class="row">
	<div class="col-md-6">
		<!-- BASIC TABLE -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Thống kê số lượng bán top 10 của sản phẩm</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Mã nhà</th>
							<th>Tên khu nhà</th>
							<th>Giá</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Steve</td>
							<td>Jobs</td>
							<td>$2.250.000</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Simon</td>
							<td>Philips</td>
							<td>$2.432.000</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Jane</td>
							<td>Doe</td>
							<td>$2.300.000</td>
						</tr>
						<tr>
							<td>4</td>
							<td>XYZT</td>
							<td>Doe</td>
							<td>$1.800.000</td>
						</tr>
						<tr>
							<td>5</td>
							<td>TVSD</td>
							<td>Doe</td>
							<td>$1.500.000</td>
						</tr>
						<tr>
							<td>6</td>
							<td>ÁDAS</td>
							<td>Zone2</td>
							<td>$725.000</td>
						</tr>
						<tr>
							<td>7</td>
							<td>VXCV</td>
							<td>Zone3</td>
							<td>$720.000</td>
						</tr>
						<tr>
							<td>8</td>
							<td>ÁDFASD</td>
							<td>Zone4</td>
							<td>$520.000</td>
						</tr>
						<tr>
							<td>9</td>
							<td>JanÁDFASDe</td>
							<td>ZOne5</td>
							<td>$500.000</td>
						</tr>
						<tr>
							<td>10</td>
							<td>ádf</td>
							<td>zsd</td>
							<td>$300.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END BASIC TABLE -->
	</div>
	<div class="col-md-6">
		<!-- TABLE NO PADDING -->
		<div class="panel">
			<div class="panel-heading">
				<h3 class="panel-title">Thống kê số lượng bán top 10 của gian hàng</h3>
			</div>
			<div class="panel-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>Mã nhà</th>
							<th>Tên khu nhà</th>
							<th>Giá</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Steve</td>
							<td>Jobs</td>
							<td>$2.250.000</td>
						</tr>
						<tr>
							<td>2</td>
							<td>Simon</td>
							<td>Philips</td>
							<td>$2.432.000</td>
						</tr>
						<tr>
							<td>3</td>
							<td>Jane</td>
							<td>Doe</td>
							<td>$2.300.000</td>
						</tr>
						<tr>
							<td>4</td>
							<td>XYZT</td>
							<td>Doe</td>
							<td>$1.800.000</td>
						</tr>
						<tr>
							<td>5</td>
							<td>TVSD</td>
							<td>Doe</td>
							<td>$1.500.000</td>
						</tr>
						<tr>
							<td>6</td>
							<td>ÁDAS</td>
							<td>Zone2</td>
							<td>$725.000</td>
						</tr>
						<tr>
							<td>7</td>
							<td>VXCV</td>
							<td>Zone3</td>
							<td>$720.000</td>
						</tr>
						<tr>
							<td>8</td>
							<td>ÁDFASD</td>
							<td>Zone4</td>
							<td>$520.000</td>
						</tr>
						<tr>
							<td>9</td>
							<td>JanÁDFASDe</td>
							<td>ZOne5</td>
							<td>$500.000</td>
						</tr>
						<tr>
							<td>10</td>
							<td>ádf</td>
							<td>zsd</td>
							<td>$300.000</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<!-- END TABLE NO PADDING -->
	</div>
</div>
<%- include('footer'); -%>